# 使用该文件作为配置的时候删除注释
{
	"server":{
		"port": 8081 			// 服务端口
	},
	"capture":{
		"width": 300, 			// 默认宽度
		"height": 0, 			// 默认高度
		"max_count": 1024, 		// 进程最大复用次数
		"min": 5, 				// 初始化最小的进程数量
		"max": 50, 				// 最大可开启的进程数量
		"headless": true, 		// 是否开启无头
		"executable_path": ""	// 可执行文件路径，用于指定 google 版本
	}
}